html {
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  .dropcap {
    float: left;
    margin: -0.9em -0.5em -0.9em -0.8em;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    color: #50435e;
    padding: 17px 18px 20px 20px;
  }
  
  header {
    background-color: white;
    color: #50435e;
    font-size: 3em;
    padding-left: 3%;
    padding-top: 1.2%;
    padding-bottom: 1%;
    margin: 0;
    font-family: 'Sacramento', cursive;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  h1 {
    color: #50435e;
    font-size: 1.5em;
  }
  
  strong {
    color: #50435e;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
    margin-top:60px;
  }
  
  .flex-container > div {
    width: 25%;
    text-align: center;
  }
  
  #aboutme {
    color: #50435e;
    width: 75%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
  }
  
  #titles {
    text-align: left;
    background-color: #9fa7c4;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    margin-top: -16px;
    font-size: 0.8em;
    line-height: 3em;
  
  }
  
  #worklife {
  
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: white;
    color: #50435e;
    font-family: 'Quicksand', sans-serif;
    width: 75%;
    margin: 0 auto;
  
  }
  
  #education {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 100px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Quicksand', sans-serif;
    color: #50435e;
    font-size: 0.9em;
  }
  
  #travel {
    width: 65%;
    font-family: 'Quicksand', sans-serif;
    padding: 1px 1px;
    margin: 0 auto;
    background-color: #b19fc5;
    border-radius: 15px;
    color: white;
    text-align: center;
  }
  
  #videos {
    width: 30%;
    text-align: center;
    color: #50435e;
    border-radius: 15px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    padding: 0px;
  }
  
  #youtube {
    display: inline-block;
    margin: 2%;
  }
  
  footer {
    background-color: rgb(190, 190, 192);
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    line-height: 0.5em;
  }
  
  footer li {
    display: inline;
  padding-right: 1em;
  
    font-size: 0.9em;
  
    text-align: center;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #b19fc5;
  }
  
  footer p {
    font-size: 0.5em;
  padding-bottom: 5px;
  }